@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


#profile-progress {
  border: 1em solid white;
  border-right-color: #4a00e0;
  border-top-color: #4a00e0;
  border-bottom-color: #4a00e0;
  animation: thickening 1s 0.5s linear normal;
  border-left-color: white;
  border-radius: 50%;
}